.features{
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url('./assets/images/nat-1.jpg'
  );
  padding: 20rem 0;
  margin-top: -10rem;
  background-size: cover;
  transform: skewY(-7deg);
  & > *{
    transform: skewY(7deg);
  }

  @include respond(tab-port){
    padding: 10rem 0;
  }
}